In [1]:
# Load dependencies
import pandas as pd
import numpy as np
from scipy.stats import gmean
import matplotlib.pyplot as plt
%matplotlib inline
import sys
sys.path.insert(0, '../statistics_helper/')
from CI_helper import *
from excel_utils import *

# Quantifying the probability of the marine trophic pyramids being inverted
In order to quantify the probability of consumer biomass in the marine environment being lrager than producer biomass, we randomly sample from the distribution of our estimates for the biomass of each taxon of producer of consumer biomass. For each taxon with no uncertainty estimate, we assume its uncertainty is an order of magnitude.

In [5]:
results = pd.read_excel('../results.xlsx','Fig2B')
marine_producers = results.iloc[20:25,0:3]
marine_consumers = results.iloc[20:30,3:]

             Unnamed: 3  Unnamed: 4 Unnamed: 5
20      Marine bacteria     1.32693    1.81183
21       Marine archaea    0.331734    2.59056
22      Marine protists     1.05034         10
23    Marine arthropods     0.92234         10
24                 Fish    0.667611    8.24259
25             Molluscs    0.181985         10
26             Cnidaria   0.0896168         10
27  Wild marine mammals  0.00445361     1.4375
28            Nematodes       0.014         10
29                Fungi     0.32482         10